@import '../../../variables';

.container {
  .card {
    margin: $spacing-lg;
    .card-top {
      display: flex;
      justify-content: space-between;
      margin: $spacing-lg;
      .card-title {
        font-weight: $font-weight-bold;
        font-size: $font-size-lg;
      }
      button {
        border: none;
        background-color: $transparent;
        font-weight: $font-weight-bold;
        font-size: $font-size-base;
      }
    }
  }
}