<div class="container">
  <div class="card">
    <div class="card-top">
      <h5 class="card-title" [ngStyle]="{ color: titleColor }">{{ title }}</h5>
      <button>
        <i class="bi bi-plus-circle"></i>
        {{ addActivityText }}
      </button>
    </div>
    <ng-container *ngFor="let row of cardContentRow">
      <app-action-card-row [row]="row" [deleteText]="deleteText" (editCardRow)="edit()" (actionCardRow)="action()" (deleteCardRow)="delete()">
      </app-action-card-row>
    </ng-container>
  </div>
</div>
