.container {
  .card {
    margin: 2em;
    .card-top {
      display: flex;
      justify-content: space-between;
      margin: 2em;
      .card-title {
        font-weight: bold;
        font-size: 36px;
      }
      button {
        border: none;
        background-color: transparent;
        font-weight: bold;
        font-size: 26px;
      }
    }
  }
}