<div class="card-body">
  <ng-container>
    <div class="accordion-header">
      <div (click)="toggleList()" class="title-row">
        <i class="bi bi-chevron-compact-up" *ngIf="isListOpen"></i>
        <i class="bi bi-chevron-compact-down" *ngIf="!isListOpen"></i>
        <div class="title">{{ row.cardRowTitle }}</div>
        <span
          *ngIf="!row.isDeletableAction"
          class="badge bg-secondary d-inline-flex align-items-center"
          >{{ row.cardBadgeText }}</span
        >
      </div>
      <div class="icons">
        <i class="bi bi-pencil-square" (click)="onEdit()"></i>
        <div class="delete-action" *ngIf="!row.isDeletableAction">
          <span class="deleteText" (click)="showPopover = true" (click)="onAction()">{{
            deleteText
          }}</span>
          <div *ngIf="showPopover" class="popover-container">
            <div class="popover-body">
              <strong>{{ row.cardActionPopoverHeader }}</strong
              ><i (click)="closePopover()" class="bi bi-x"></i>
            </div>
            <div class="popover-body">
              {{ row.cardActionPopoverBody }}
            </div>
          </div>
        </div>
        <i *ngIf="row.isDeletableAction" class="bi bi-trash" (click)="onDelete()"></i>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="isListOpen">
    <ul *ngFor="let listItem of row.cardRowListItems">
      <li>{{ listItem }}</li>
    </ul>
  </ng-container>
</div>
