<div class="container">
  <div class="card">
    <div class="card-top">
      <h5 class="card-title">Card for Organizing Activities</h5>
      <button>
        <i class="bi bi-plus-circle"></i>
        Add activity
      </button>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="accordion-header">
          <div class="title-row">
            <div class="icon" (click)="toggleList()">
            <i class="bi bi-chevron-compact-up" *ngIf="isListOpen"></i>
            <i class="bi bi-chevron-compact-down" *ngIf="!isListOpen"></i>
          </div>
          <div class="title">Discover New Features</div> <span class="badge bg-secondary d-inline-flex align-items-center">Must have item</span>
          </div>
          
          <div class="icons">
            <i class="bi bi-pencil-square"></i>

         
            <span>Delete?</span>
          </div>
        </div>
        <div class="list-items" *ngIf="isListOpen">
          <ul>
            <li>Interactive Dashboard</li>
            <li>Smart Reminders & Notifications</li>
            <li>Data-driven Decision Making</li>
          </ul>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="accordion-header">
          <div class="title-row">
            <div class="icon">
              <i class="bi bi-chevron-compact-up"></i>
            <!-- <i class="bi bi-chevron-compact-down"></i> -->
          </div>
          <div class="title">Better Workflow</div> 
          </div>
          
          <div class="icons">
            <i class="bi bi-pencil-square"></i>

            <i class="bi bi-trash"></i>
          </div>
        </div>
        <div class="list-items">
       
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="accordion-header">
          <div class="title-row">
            <div class="icon">
              <i class="bi bi-chevron-compact-up"></i>
            <!-- <i class="bi bi-chevron-compact-down"></i> -->
          </div>
          <div class="title">Achieve Great Results</div> 
          </div>
          
          <div class="icons">
            <i class="bi bi-pencil-square"></i>

            <i class="bi bi-trash"></i>
          </div>
        </div>
        <div class="list-items">
          
        </div>
      </div>

    </div>

  </div>
</div>
