<div class="container">
  <div class="card">
    <div class="card-top">
      <h5 class="card-title" [ngStyle]="{ color: titleColor }">
        {{ title }}
      </h5>
      <button>
        <i class="bi bi-plus-circle"></i>
        {{ addActivityText }}
      </button>
    </div>

    <div class="card-body">
      <div class="row" *ngFor="let row of cardContentRow">
        <div class="accordion-header">
          <div class="title-row">
            <div class="icon" (click)="toggleList()">
              <i class="bi bi-chevron-compact-up" *ngIf="isListOpen"></i>
              <i class="bi bi-chevron-compact-down" *ngIf="!isListOpen"></i>
            </div>
            <div class="title">{{ row.title }}</div>
            <span
              *ngIf="!row.isDeletableAction"
              class="badge bg-secondary d-inline-flex align-items-center"
              >{{ row.badge }}</span
            >
          </div>

          <div class="icons">
            <i class="bi bi-pencil-square"></i>
            <div class="delete-action" *ngIf="!row.isDeletableAction">
              <span class="deleteText" (mouseover)="showPopover = true">{{
                deleteText
              }}</span>
              <div *ngIf="showPopover" class="popover-container">
                <div class="popover-text">
                  <div class="popover-body">
                    <strong>{{ row.popoverHeader }}</strong
                    ><i (click)="closePopover()" class="bi bi-x"></i>
                  </div>
                  <div class="popover-body">
                    {{ row.popoverBody }}
                  </div>
                </div>
              </div>
            </div>
            <div class="delete-action" *ngIf="row.isDeletableAction">
              <i class="bi bi-trash"></i>
            </div>
          </div>
        </div>

        <div class="list-items" *ngIf="isListOpen">
          
            <ul *ngFor="let listItem of row.listItems">
              <li>{{ listItem }}</li>
            </ul>
          
        </div>
        <hr />
      </div>

      <!-- <div class="row">
        <div class="accordion-header">
          <div class="title-row">
            <div class="icon">
              <i class="bi bi-chevron-compact-up"></i>
              <i class="bi bi-chevron-compact-down"></i> 
            </div>
            <div class="title">Better Workflow</div>
          </div>

          <div class="icons">
            <i class="bi bi-pencil-square"></i>

            <i class="bi bi-trash"></i>
          </div>
        </div>
        <div class="list-items"></div>
      </div>
      <hr />

      <div class="row">
        <div class="accordion-header">
          <div class="title-row">
            <div class="icon">
              <i class="bi bi-chevron-compact-up"></i>
              <i class="bi bi-chevron-compact-down"></i>
            </div>
            <div class="title">Achieve Great Results</div>
          </div>

          <div class="icons">
            <i class="bi bi-pencil-square"></i>

            <i class="bi bi-trash"></i>
          </div>
        </div>
        <div class="list-items"></div>
      </div>
    </div>
  </div>
</div>
 -->
    </div>
  </div>
</div>
