@import '../../../variables';

.card-body {
  position: relative;
  padding: $spacing-base 0;
  .accordion-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .title-row {
      display: flex;
      .title {
        font-weight: $font-weight-bold;
        font-size: $font-size-base;
        padding-inline: $spacing-base;
      }
      .badge {
        border-radius: $radius-lg;
      }
    }
  }
  .icons {
    display: flex;
    gap: $spacing-sm;
    .popover-container {
      position: absolute;
      background-color: $popover-background-color;
      border: $popover-border;
      border-radius: $radius-base;
      display: flex;
      flex-direction: column;
      width: 800px;
      height: 145px;
      transform: translate(-100%, -120%);
      .popover-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $popover-text-color;
        margin:  $spacing-sm;
      }
    }
  }
  ul {
    margin-left: $spacing-base;
    li {
      font-size: $font-size-sm;
    }
  }
}
i,
.deleteText {
  cursor: pointer;
}